$green-color: rgb(0, 170, 153);

/*
 * resets
 */
* { font-family: sans-serif; box-sizing: border-box; }
html, body { margin: 0; }

.white { color: white; }
.green { color: $green-color; }

/*
 -- header --
 */
.navbar-header-margin-left { margin-left: 100px; }
.navbar-no-margin-bottom { margin-bottom: 0px; }
.navbar-brand-green { color: $green-color !important; }

/*
 -- capture life
 */
.banner {
  background-image: url('../img/site_showcase_bg.jpg');
  width: 100%;
  padding-top: 0 30px;
}

/*
 -- media-queries
 */
@media only screen and (max-width: 736px) {
  .navbar-header { margin-left: initial; }
}

.center-block-xs {
  @media only screen and (max-width: 768px) {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}